.about.css {
    height: 100vh;
    background-color: rgb(50, 180, 156);
}

.about-sect {
    border-top: 5px dotted rgb(50 180 196);
    border-bottom: 5px dotted rgb(50 180 196);
    margin-top: -155px;
    
}

.about-sect-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    margin: 0 50px;
    /* margin-bottom: 100px; */
}

.imd-fluid{
    max-width: 100%;
    height: auto;
}

.about-right {
    font-size: 1.5rem;
    max-width: 40%;
}

.about-para {
    font-size: 1.3rem;
}

.section-title {
    margin-bottom: 30px;
}

.circle-span {
    content: '';
    position: absolute;
    width: 30px;
    height: 10px;
    background: rgb(50, 180, 156);
    border-radius: 7px;
}

.dash-span {
    content: '';
    position: absolute;
    margin-top: 4px;
    width: 120px;
    height: 3px;
    background: rgb(50 180 196);
}

.btn-sect {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.primary-btn {
    width: 145px;
    font-size: 1rem;
}

.white {
    border: 3px solid rgb(50, 180, 196);
    background-color: #fff;
}

.lilac {
    background-color:  rgb(50, 180, 196);
    border: 3px solid rgb(3 116 130 / 43%);
}

@media screen and (max-width: 780px) {
    
}
@media screen and (max-width: 780px) {
    .about-left{
        display: none;
    }

    .about-right {
       max-width: 100%;
       text-align: justify;
    }

    .primary-btn{
        width: 110px;
        font-size: 12px;
    }

    .about-sect {
        border-top: none;
    }

    .about-sect-div {
        margin: 100px 50px;
    }
}
@media screen and (max-width: 780px) {

}
