.mx-auto {
  width: 75px;
}

.carousel-container{
  display: flex;
  align-items: center;
}

.brand-wrap {
  background: #fff;
  border-radius: 100px;
  padding: 20px 14px;
  position: relative;
  top: -160px;
  z-index: 2;
  box-shadow: 0px 20px 50px rgba(153, 153, 153, 0.2);
  border: 1px solid rgba(214, 214, 214, 0.11);
  @media(max-width: 991px) {
      padding: 40px 0;
      margin-top: -52px;
  }
  .owl-carousel .owl-item img {
      width: auto !important;
  }
  .single-brand {
      text-align: center;
  //     @include filter(grayscale, 100%);
  //     opacity: .5;
      // @include transition();
  //     &:hover {
  //         @include filter(grayscale, 0%);
          opacity: 1;
  //     }
  }
}


/* .swipes {
  margin: auto;
} */

/* .items {
  position: relative;
  width: 700px;
  height: 700px;
} */

// .images {
//   height: 100%;
//   width: 100%;
//   object-fit: contain;
//   border-radius: 20px;
//   filter: drop-shadow(1px 2px 4px #000000bd)
// }

// .swiper_container {
//   display: flex;
//   justify-content: space-around;
// }

// @media screen and (max-width: 580px) {
//   .images {
//     width: 100%;
//   }

// }

