header {
  position: fixed;
  overflow: hidden;
  top: -2px;
  z-index: 6;
  width: 100%;
  background: #f9fafa 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000029;
  padding: 0 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo-img {
  width: 90px;
}

nav ul {
  display: inline-flex;
  list-style: none;
}

li {
  margin-right: 30px;
}

li:hover {
  border-bottom: 2px solid rgb(50, 180, 196);
  margin-top: 20px;;
}

.home {
  color: rgb(0, 95, 107);
}

.mobile-view{
  display: none;
}

@media screen and (max-width: 580px) {
  .header{
    display: none;
  }

  .mobile-view {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    align-items: center;
  }

  .logo-img {
    width: 70px;
  }

  /* Mobile Hamburger start */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* Mobile Hamburger end */
}

